body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:713px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u623 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:663px;
}
#u624 {
  position:absolute;
  left:1px;
  top:1px;
  width:373px;
  height:663px;
}
#u625 {
  position:absolute;
  left:2px;
  top:324px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u627_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:38px;
  height:38px;
}
#u627 {
  position:absolute;
  left:378px;
  top:34px;
  width:28px;
  height:28px;
}
#u628 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u629 {
  position:absolute;
  left:407px;
  top:37px;
  width:277px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:38px;
  height:38px;
}
#u631 {
  position:absolute;
  left:378px;
  top:123px;
  width:28px;
  height:28px;
}
#u632 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u633 {
  position:absolute;
  left:14px;
  top:39px;
  width:44px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:581px;
}
#u634 {
  position:absolute;
  left:3px;
  top:83px;
  width:370px;
  height:581px;
}
#u635 {
  position:absolute;
  left:2px;
  top:282px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636 {
  position:absolute;
  left:117px;
  top:105px;
  width:235px;
  height:22px;
}
#u636_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u636_input:disabled {
  color:grayText;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  position:absolute;
  left:36px;
  top:107px;
  width:57px;
  height:16px;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:507px;
}
#u639 {
  position:absolute;
  left:8px;
  top:146px;
  width:358px;
  height:507px;
}
#u640 {
  position:absolute;
  left:2px;
  top:246px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:223px;
}
#u641 {
  position:absolute;
  left:413px;
  top:127px;
  width:300px;
  height:223px;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u643 {
  position:absolute;
  left:407px;
  top:355px;
  width:300px;
  height:160px;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:38px;
  height:38px;
}
#u645 {
  position:absolute;
  left:375px;
  top:352px;
  width:28px;
  height:28px;
}
#u646 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
