body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:726px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1098 {
  position:absolute;
  left:282px;
  top:483px;
  width:20px;
  height:20px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1101 {
  position:absolute;
  left:426px;
  top:116px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:403px;
  top:116px;
  width:20px;
  height:20px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1105 {
  position:absolute;
  left:296px;
  top:483px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1106 {
  position:absolute;
  left:21px;
  top:611px;
  width:63px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1107 {
  position:absolute;
  left:103px;
  top:611px;
  width:83px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1108 {
  position:absolute;
  left:196px;
  top:611px;
  width:82px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1109 {
  position:absolute;
  left:288px;
  top:602px;
  width:82px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
